* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    overflow-y: scroll;
}

body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

ul, ol {
    list-style: none;
}

img, picture, svg {
    max-width: 100%;
    display: block; 
    height: auto;
}

button, input, select, textarea {
    font: inherit;
}