$primary-color: #0d6efd; //Azul BS
$secondary-color: #6c757d;
$info-color: #0dcaf0;   //Badges estado
$white: #ffffff;
$dark-bg: #212529;      //Footer

//Medida modelo cajas

$card-height: 350px;
$border-radius: 15px;
$card-shadow: 0 4px 15px rgba(0,0,0,0.1);

//Tipografía

$font-main: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;


