
.weather-card {
    position: relative;
    height: $card-height;
    width: 100%;
    perspective: 1000px;
    cursor: pointer;
    
    
    &__container {
        position: relative;
        width: 100%;
        height: 100%;
        transition: transform 0.6s cubic-bezier(0.4, 0, 0.2, 1);
        transform-style: preserve-3d;
    }
   


    &--flipped &__container {
        transform: rotateY(180deg);
    }

    &__front,
    &__back {
        position: absolute;
        inset: 0;
        backface-visibility: hidden;
        border-radius: 12px;
        overflow: hidden;
        box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    }


    &__front {
        position: relative;
        background-color: #000;
    }
        

    &__img {
        
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: relative;
        z-index: 1;
        
    }

    &__overlay {
        position: absolute;
        inset: 0;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        padding: 1rem;
        background: linear-gradient(to top, rgba(0,0,0,0.9) 10%, transparent 70%);
        color: $white;
    }

    &__title {
        font-size: 1.2rem;
        font-weight: bold;
        color:$white;
    }

     &__info {
        display: flex;
        gap: 0.5rem;
        align-items: center;
        color: $white;
    }

    }


    &__icon {
        font-size:1.2rem;
    }

      &__back {
  
        transform: rotateY(180deg);
    
      }
}


   
