.detail-view {
    padding: 4rem 0;
    min-height: 80vh;

    &__header {
        margin-bottom: 3rem;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        align-items: center;

        @include responsive("tablet") {
            flex-direction: row;
            justify-content: space-between;
            text-align: left;
        }
    }

    &__title {
        font-size: 2.5rem;
        color: $primary-color;    
    }


    &__forecast-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        gap: 2rem;
        margin-top: 3rem;
    }
}